html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #E9EBF3;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FFFFFF #E9EBF3;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 6px;
    width: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #E9EBF3;
}

*::-webkit-scrollbar-track:hover {
    background-color: #E9EBF3;
}

*::-webkit-scrollbar-track:active {
    background-color: #E9EBF3;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #FFFFFF;
}

.containerMain {
    width: 100%;
    height: 100vh;
    display: block;
    flex-direction: row;
    background-color: #E9EBF3;

}


.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #358894;
    color: white;
    padding-left: 5%;
    padding-right: 2%;
    z-index: 10;
}

#logoText {
    font-family: 'Supera Gothic';
    font-weight: 800;
    font-size: 1.5em;
}

.containerLinksNav {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.linkNav {
    text-decoration: none;
    color: white;
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    transition: opacity .2s ease-out;
    transition-delay: .1s;
    cursor: pointer;
}

.perfilWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loginContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    padding: 0 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    cursor: pointer;
    border-radius: 100px;
    transition: .4s ease-out;
}

.loginContainer span {
    width: 40px;
    height: 40px;
    z-index: 3;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}


.btnLogin {
    margin-top: 8%;
    z-index: 3;
}

.dropdown {
    position: absolute;
    width: 15%;
    height: 0%;
    background-color: #1977F3;
    transition: .4s ease-out;
    border-radius: 0 0 10px 10px;
}

.dropdownItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    margin-bottom: 3%;
    width: 100%;
    height: 10%;
    z-index: 30;
    color: #949ABC;
    text-align: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    cursor: pointer
}

.dropdownItem:hover {
    text-decoration: underline;
}


.perfilWrapper:hover>.dropdown {
    height: 30%;
    width: 15%;
    background-color: #1977F3;
    transition: .4s ease-out;
    padding-top: 5%;
}

.perfilWrapper:hover {
    z-index: 1;
    background-color: #1977F3;
    transition: .4s ease-out;
}


.perfilWrapper:hover>.dropdown>.dropdownItem {
    height: 30%;
    width: 100%;
    visibility: visible;
    transition: .3s ease-out;
    color: #ffffff;
}





.containerConteudo {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    background-color: #ff0000;
}






.containerAbaLateral {
    transition-delay: 2s;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 0%;
    transition: 1s;
    transition-delay: 1s;
}

.containerAbaLateral:hover {
    transition: .5s;
    transition-delay: .0s;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.containerAbaLateralAberto {
    transition: .5s;
    transition-delay: .0s;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;


}

.wrapperConteudoLateral {
    transition: .5s;
    transition-delay: .7s;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.containerAbaLateral:hover>.wrapperConteudoLateral {
    transition: .7s;
    transition-delay: .3s;
    opacity: 1;
}

.wrapperConteudoLateralAberto {
    transition: .7s;
    transition-delay: .3s;
    opacity: 1;
}

#imgProfileLateral {
    display: flex;
    width: 180px;
    height: 180px;
    border-width: 4px;
    border-radius: 100px;
    background-color: #1977F3;
    border-color: #1977F3;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    background-position: center;
    background-image: url("../assets/img/profile/profile.png");
}

#labelNome {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    transition: 2s;
}

.labelTitulo {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 20%;
    width: 100%;
    text-align: left;
}

.labelBio {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.labelCadastro {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 5%;
    width: 100%;
    text-align: left;
}





.containerFeed {
    background-color: #E9EBF3;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.wrapperNovoPost {
    background-color: #ffffff;
    width: 35%;
    padding: 1%;
    height: 8%;
    z-index: 5;
    border-radius: 64px;
    overflow-y: visible;
    position: fixed;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: flex-start;
    padding-left: 3%;
    cursor: pointer;
    color: #969696b5;

    -webkit-box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.089);
}


.wrapperNovoPostExpandido {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 1%;
    height: 15%;
    border-radius: 10px;
    overflow-y: visible;
    position: fixed;

    -webkit-box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 34px 8px rgba(0, 0, 0, 0.089);
}


.wrapperPosts {
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1%;
    height: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

}

.containerPost {
    display: flex;
    height: 37vh;
    width: 50vw;
    background-color: #ffffff;
    margin-top: 3%;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-radius: 24px;

}


.wrapperImgPost {
    display: flex;
    width: 40%;
    height: 100%;

    align-items: center;
    justify-content: center;
    border-radius: 14px;
    overflow: hidden;
}

.imgPost {
    width: 100%;
    height: 100%;
}


.wrapperInfoPost {
    width: 60%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.wrapperDataTitulo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.badgeData {
    background-color: #E9EBF3;
    border-radius: 10px;
    padding: 1% 2%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1977F3;
    border-radius: 10px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.tituloPost {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    width: 80%;
    line-height: 107.9%;
}

.labelAutor {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #4c4c4c;
}

.labelAutor:hover {
    text-decoration: underline;
    color: #000000;
}

.descricaoPost {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    width: 100%;
    height: 35%;
    overflow-y: scroll;
}

.badgeLikesPost {
    background-color: #E9EBF3;
    border-radius: 10px;
    padding: 1% 2%;
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.badgeLikesPost {
    cursor: pointer;
}

.labelLikesPost {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    margin-left: 5%;
    text-align: center;
    cursor: pointer;
    color: #000000;
}





.wrapperNoticias {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.tituloRankign {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 107.9%;
    color: #000000;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222222a4;
    display: none;
    transition: 1s;
    opacity: 0;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.095);
    border-top-color: #1977F3;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}



.wrapperCanva {
    margin: 0 auto;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.wrapperCanva canvas {
    width: 90%;
    height: 90%;
}