body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #3b3b3b;
}

* {
    box-sizing: border-box;
}

.containerMain {
    width: 100%;
}


.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #358894;
    color: white;
    padding-left: 5%;
    padding-right: 2%;
    position: fixed;
    z-index: 10;
}

#logoText {
    font-family: 'Supera Gothic';
    font-weight: 800;
    font-size: 1.5em;
}

.containerLinksNav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.linkNav {
    text-decoration: none;
    color: white;
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transition: opacity .2s ease-out;
    transition-delay: .1s;
    cursor: pointer;
}


.perfilWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 100%;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 0%;
    background: #358894;
    height: 80%;
    padding: 0 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;

    cursor: pointer;
    transition: .4s ease-out;
}


.loginContainer:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 0 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(270deg, #1977F3 43.23%, #2784FF 78.65%);
}

.btnLogin {
    transition: .2s ease-out;
    transition-delay: .1s;
    font-size: 16px;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    width: 60%;
    opacity: 0;
    color: #FFFFFF;
    text-align: center;
}

.loginContainer:hover>.btnLogin {
    transition: 1s;
    font-size: 16px;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    opacity: 1;
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    width: 60%;
    color: #FFFFFF;
}

.loginContainer:hover>.loginContainer img {
    display: flex;
    align-self: center;
    width: 50px;
}

.imgWrapper {
    display: flex;
    align-self: center;
    width: 40px;
    height: 40px;
    margin-right: 2.5%;
    border-radius: 100px;
    z-index: 10;
    background-image: url(../assets/img/design/user.png);
    background-size: cover;
}

.loginContainer img {
    display: flex;
    align-self: center;
    width: 40px;
    height: 40px;
    margin-right: 2.5%;
    border-radius: 100px;
}

.heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-image: url(../assets/img/design/background-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000;
    position: relative;
    z-index: 0;

}

.fraseWrapper {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frasePrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 3% 4%;
    width: 50%;
    height: 70%;
    background-color: rgba(0, 0, 0, 45%);
    border-radius: 10px;
    backdrop-filter: blur(7px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 9px;
}

.tituloPrincipal {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 20%;
    font-size: 40px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
}

.textPrincipal {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 111.4%;
    letter-spacing: 1px;
    /* or 27px */


    color: #FFFFFF;
}

.btnAcessar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    background-color: #00000000;
    box-shadow: none;
    border-radius: 1px;
    border-color: #3BA1FF;
    border-width: 3px;
    cursor: pointer;
    transition: .2s ease-out;
    border-style: solid;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.btnAcessar:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    background-color: #00000000;
    box-shadow: none;
    border-radius: 1px;
    border-color: #3BA1FF;
    border-width: 3px;
    cursor: pointer;
    transition: .4s ease-out;
    border-style: solid;
    background-color: #3BA1FF;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
}


#arduinoIcon {
    width: 200px;
    height: 200px;
    margin-right: 10%;
}

.tresCards {
    display: flex;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 0 10%;
    margin-top: -60px;
}

.cardOferta {
    display: inline-block;
    width: 250px;
    height: 275px;
    box-sizing: border-box;
    background: #B6F2FF;
    box-shadow: 0px 0px 42px 24px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    overflow: hidden;
    z-index: 5;
    transition: .3s;
}

.cardOferta:hover {
    transition: .3s;
    transform: scale(1.1);
}

.cardOfertaFrase {
    background: linear-gradient(180deg,
            rgba(218, 218, 218, 0) 43.91%,
            rgba(0, 0, 0, 0.64) 80.31%);
    z-index: 6;
    width: 100%;
    height: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-bottom: 7%;
    padding-left: 1%;
    padding-right: 1%;

    color: #FFFFFF;

}

.img1 {
    z-index: 7;
    background-image: url(../assets/img/design/card-1-home.png);

}

.img2 {
    z-index: 7;
    background-image: url(../assets/img/design/card-2-home.png);

}

.img3 {
    z-index: 7;
    background-image: url(../assets/img/design/card-3-home.png);

}


.conteudo2 {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}



/* 
    estilização do modal de login e cadastro
*/
.containerModal {

    width: 100%;
    height: 100vh;
    z-index: 15;
    opacity: 1;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
}




.inputstransparente {
    width: 65%;
    margin-left: 80px;
    padding-top: 2px;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: #1F4662 solid 3px;
    background: transparent;
    font-size: 125%
}



.cardLogin {
    background-image: url(../assets/img/design/maker-login.jpg);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    width: 60vw;
    height: 80vh;
    border-radius: 15px;
    overflow: hidden;
    animation: openModal 1s normal;

}

.imgLogin {

    align-items: center;
    justify-content: left;
    display: flex;
    width: 50%;
    height: 100%;
    mix-blend-mode: normal;

}

.rightLoginBackground {
    background-color: #d9d9d9c7;
    width: 50%;
    height: 100%;
}

.rightLogin {
    color: #0F1631;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}

.buttonClose {
    display: flex;
    justify-content: end;
    width: 98%;
    height: 5%;
    padding-top: 15px;
}

.textLogin {
    color: #1F4662;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: left;
    font-size: 220%;
    display: flex;
    width: 100%;
    height: 20%;
    padding-left: 80px;
}

.textEmail {
    justify-content: flex-start;
    color: #1F4662;
    font-size: 22px;
    flex-direction: row;
    display: flex;
    width: 30%;
    height: 5%;
    align-items: center;
    padding-left: 80px;
    font-weight: bold;
    padding-top: 15px;
}

.textPassword {
    justify-content: flex-start;
    color: #1F4662;
    font-size: 22px;
    flex-direction: row;
    display: flex;
    width: 30%;
    height: 5%;
    align-items: center;
    padding-left: 80px;
    font-weight: bold;
    padding-top: 30px;
}

.cardsClicks {
    color: white;
    display: flex;
    width: 65%;
    margin-top: 5%;
    padding-left: 18%;
    padding-right: 18%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.clickEnter {
    align-items: center;
    justify-content: center;
    background-color: #1F4662;
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.clickRecoverPassword {

    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    background-color: #1F4662;
    display: flex;
    border-radius: 10px;
    height: 40px;
}

.registerLink {
    font-size: 14px;

    width: 100%;
    height: 5%;
    align-items: center;
    color: #070D25;
}

.registerLink:hover {
    width: 100%;
    height: 5%;
    align-items: center;
    color: #070D25;
    text-decoration: underline;
    cursor: pointer;
}


/* CADASTRO */

.cardRegister {
    font-family: 'Poppins';
    margin: 0 auto;
    width: 60vw;
    height: 80vh;
    border-radius: 15px;
    display: none;
    overflow: hidden;
    animation: openModal 1s normal;

}

.topRegister {
    background-size: cover;
    background-image: url(img/imgCadastro.png);
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 15px 15px 0 0;
}

.buttonCloseRegister {

    position: absolute;
    display: flex;
    width: 3%;
    height: 3%;
    z-index: 100;
    padding-left: 57%;
    padding-top: 1%;
}

.sectionRegister {

    font-family: 'Poppins';

    background-color: #d9d9d999;

    display: flex;
    width: 100%;
    flex-direction: column;
    height: 70%;
    border-radius: 0 0 20px 20px;
}

.textMyData {

    display: flex;
    justify-content: center;
    font-size: 200%;
    color: #1F4662;
    height: 3%;
    padding-bottom: 3%;
}

.inputsRegister {


    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 30%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;
}

.line1 {

    font-size: 150px;
    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-around;
}

.line2 {
    padding-top: 3%;

    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-around;
}

.line3 {
    padding-top: 3%;

    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-around;
}

.line4 {
    align-items: center;
    padding-top: 5%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

}

.inputsSmall {
    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 10%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;
}

.inputsAverage {

    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 20%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;
}

.inputsBig {
    font-family: 'Poppins';

    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 45%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;
}

.clickSave {
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #1F4662;
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.haveAccount {
    margin-top: 1%;
    font-size: 14px;
    align-items: center;
    color: #070D25;
}

.haveAccount:hover {
    margin-top: 1%;
    font-size: 14px;
    align-items: center;
    color: #070D25;
    text-decoration: underline;
    cursor: pointer;
}

/* 
    estilização do modal de login e cadastro
*/

.containerSession1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0% 10% 0% 10%;
    padding-top: 20%;
    color: #000000;
    background-color: rgb(255, 255, 255);
    /*
    background-color: rgb(150, 51, 51);
*/
}

.containerSession1 h2 {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    text-align: left;
    color: #000000;
    width: 100%;
}

.textoDestaque {
    color: #F1CF1D;
}

.wrapperTextos {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;

}

.wrapperTextos p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #000000;
    width: 100%;
    margin-top: 5%;
}

.wrapperimagemOque {
    display: flex;
    width: 25%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    border: 8px solid #FFFFFF;
    filter: drop-shadow(0px 4px 33px rgba(0, 0, 0, 0.43));
    border-radius: 32px;
    overflow: hidden;
}

.wrapperimagemOque img {
    width: 100%;
    height: 100%;
}

.containerSession2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0% 10% 0% 10%;
    color: #000000;
    background-color: rgb(255, 255, 255);
    /*
    background-color: rgb(150, 51, 51);
*/
}

.containerSession2 h2 {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    width: 100%;
}

.wrapperCardsPessoas {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    padding-top: 5%;
}

.containerCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 2%;
}

.wrapperCardImg {
    width: 60%;
    height: 53%;
    filter: drop-shadow(0px 4px 33px rgba(0, 0, 0, 0.43));
    border-radius: 32px;
    overflow: hidden;
    border-width: 7px;
    border-style: solid;
    border-color: white;
    transition: 0.5s;
    flex-wrap: wrap;
    background-color: rgb(255, 53, 53);
}

.wrapperCardImg:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.wrapperCardImg img {
    width: 100%;
    height: 100%;

}

.wrapperCardText {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-top: 5%;
    align-items: center;
    text-align: center;

}



.containerSession3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0% 10% 0% 10%;
    padding-top: 5%;
    color: #000000;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    /*
    background-color: rgb(150, 51, 51);
*/
}

.containerSession3 h2 {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    text-align: left;
    color: #000000;
    width: 100%;
}

.textoDestaque {
    color: #F1CF1D;
}

.setorA {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 0%;
}

.wrapperImgInspiracao {
    display: flex;
    width: 25%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    border: 8px solid #FFFFFF;
    filter: drop-shadow(0px 4px 33px rgba(0, 0, 0, 0.43));
    border-radius: 32px;
    overflow: hidden;
}

.wrapperImgInspiracao img {
    width: 100%;
    height: 100%;
}

.wrapperTextosIbere {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin-right: 5%;
}

.nomeIbere {
    margin-top: 3%;
    width: 100%;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 27px;
}

.descricaoIbere {
    margin-top: 5%;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-indent: 5%;
}

.textoSession3 {
    text-indent: 5%;
    margin-top: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #000000;
}

.ativa {
    font-weight: 800;
}

.containerSession4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    color: #000000;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: inset 0px 89px 61px -74px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 89px 61px -74px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 89px 61px -74px rgba(0, 0, 0, 0.75);
    /*
    background-color: rgb(150, 51, 51);
*/
}

.wrapperHr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.hrLuz {
    border: none;
    width: 5%;
    height: 30%;
    margin-top: 0%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 18px 61px 98px rgb(255, 255, 255);
    -moz-box-shadow: 0px 18px 61px 98px rgb(255, 255, 255);
    box-shadow: 0px 18px 61px 98px rgb(255, 255, 255);

}

.tituloAutor {
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Supera Gothic';
    line-height: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    z-index: 5;
    color: #FFFFFF;
    backdrop-filter: blur(3px);
    padding: 1%;
}

.wrapperImgAutor {
    width: 22%;
    height: 100vh;
    background-size: cover;
    background-position: left;
    background-image: url("../assets/img/design/autor.jpg");
    margin: 0 auto;
    align-self: flex-end;
    z-index: 2;
}