body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #E9EBF3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FFFFFF #E9EBF3;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 6px;
    width: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #E9EBF3;
}

*::-webkit-scrollbar-track:hover {
    background-color: #E9EBF3;
}

*::-webkit-scrollbar-track:active {
    background-color: #E9EBF3;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #FFFFFF;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222222a4;
    display: none;
    transition: 1s;
    opacity: 0;
    z-index: 250;
}


.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.095);
    border-top-color: #1977F3;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.containerMain {
    width: 100%;
    height: 100vh;
    display: block;
    flex-direction: row;
    background-color: #E9EBF3;

}


.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #358894;
    color: white;
    padding-left: 5%;
    padding-right: 2%;
    z-index: 10;
}

#logoText {
    font-family: 'Supera Gothic';
    font-weight: 800;
    font-size: 1.5em;
}

.containerLinksNav {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.linkNav {
    text-decoration: none;
    color: white;
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    transition: opacity .2s ease-out;
    transition-delay: .1s;
    cursor: pointer;
}

.perfilWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
    cursor: pointer;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loginContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    padding: 0 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    cursor: pointer;
    border-radius: 100px;
    transition: .4s ease-out;
}

.loginContainer span {
    width: 40px;
    height: 40px;
    z-index: 3;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    background-image: url('../assets/img/profile/default.png');
}

.btnLogin {
    margin-top: 8%;
    z-index: 3;
}

.dropdown {
    position: absolute;
    width: 15%;
    height: 0%;
    background-color: #1977F3;
    transition: .4s ease-out;
    border-radius: 0 0 10px 10px;
}

.dropdownItem {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin-bottom: 3%;
    width: 100%;
    height: 10%;
    z-index: 30;
    color: #949ABC;
    text-align: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
}

.dropdownItem:hover {
    color: #ffffff;
    text-decoration: underline;
}

.perfilWrapper:hover>.dropdown {
    height: 30%;
    width: 15%;
    background-color: #1977F3;
    transition: .4s ease-out;
    padding-top: 5%;
}

.perfilWrapper:hover {
    z-index: 1;
    background-color: #1977F3;
    transition: .4s ease-out;
}


.perfilWrapper:hover>.dropdown>.dropdownItem {
    height: 30%;
    width: 100%;
    visibility: visible;
    transition: .3s ease-out;
    color: #ffffff;
}

.containerConteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #E9EBF3;
    padding-left: 15%;
    padding-right: 15%;
}

.titulo {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5em;
    color: #000;
    margin-bottom: 1%;
}

.wrapperInfoGeral {
    display: flex;
    flex-direction: row;
    width: 100%;

    padding: 2%;

}

.wrapperImgPerfil {
    display: inline-flex;
    width: 140px;
    height: 140px;
    background-size: cover;
    filter: drop-shadow(0px 40px 37px rgba(0, 0, 0, 0.25));
    border-radius: 77px;
    margin-right: 1%;
    background-image: url('../assets/img/profile/default.png');
}

.nomeUsuario {

    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    color: #000000;
}

.labelIdUsuario {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.labelLikesUsuario {
    margin-top: 2%;
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    color: #000000;
}

.wrapperCanva {
    position: absolute;
    margin: 0 auto;
    margin-right: 0;
    right: 15%;

    height: 50vh;
    align-items: center;
    justify-content: center;
}

.wrapperCanva canvas {
    width: 90%;
    height: 90%;
}


.infoPessoaisContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;


}

.infoPessoaisContainer span span {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;

}

.labelInfoPessoais {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #6F6F6F;
    margin-bottom: 2%;
}

.inputDisable {
    width: 15vw;
    height: 6vh;
    background: #D9DCEC;
    border: 1px solid #949ABC;
    backdrop-filter: blur(2px);
    padding: 4%;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.inputEnable {
    width: 15vw;
    height: 6vh;
    background: #E6FCFF;
    border: 1px solid #1977F3;
    box-shadow: 0px 4px 18px 7px rgba(196, 226, 231, 0.61);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    padding: 4%;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    z-index: 1;
}

.inputEnable::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height */

    padding: 4%;
    color: #4545459d;
}

.inputDisable::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height */

    padding: 4%;
    color: #4545459d;
}







.wrapperPosts {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #E9EBF3;
    overflow: scroll;
}

.postContainer {
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: 37%;
    padding: 0 3%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background: #E6FCFF;
    border: 4px solid #1977F3;
    border-radius: 17px;
    margin-bottom: 1%;
}

.spanMenor {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}

.spanMenor>label {
    margin-right: 5%;
    font-family: 'Supera Gothic';
}

.labelIdPost {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 33px;
    /* identical to box height */
    height: 1%;
    color: #454545;
    margin-right: 5%;
}

.labelTituloPost {
    font-family: 'Supera Gothic';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #454545;
    text-overflow: clip;
    width: 100%;

}

.spanMaior {
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: space-between;

}

.spanMenor svg {
    margin-right: 3%;
    cursor: pointer;

}